<!doctype html>
<html>
  <head>
  	<title>FriendZs</title>
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  	<link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  	<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FriendZs Home</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/people">Find Users</a></li>
        <li><a href="/people/new">New User</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="container">
	<div class="blog-header">
    <h1 class="blog-title">FriendZs</h1>
    <p class="lead blog-description">Hit up your friendsies</p>
  </div>
  <div class="row">
  	<div class="col-sm-8 blog-main">
  		<div class="blog-post">