

h1 {
	color: #484848;
	font-size: 50px;
}

.blog-post-title {
	color: #505050;
	margin-bottom: 30px;
}

.lead {
	color: grey;
}

.pichead {
	background-image: url('../friends.jpg');
}

.blog-post {
	width: 650px;
}

.panel-title {
	color: #505050;
}

.delete {
	float: right;
}

.table {
	width: 350px;
	margin-top: 30px;
}

.phonenumber {
	margin-bottom: 20px;
}

.showpagebuttons, button {
	color: #484848;
}

.showpagebuttons:hover {
  color: grey;
}

.allpeople {
	color:brown;
}

.allpeople:hover {
	color: orange;
}